<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ecommerce BackboneJS</title>
    <link rel="stylesheet" href="dist/bundle.min.css" />
  </head>
  <body class="container">
    <header class="header">
      <h1>App Cards</h1>
    </header>

    <div class="content">
      <main class="main">
        <div class="tasks-new">
          <input class="form-control title-input" placeholder="Titulo" />
          <input class="form-control description-input" placeholder="Descrição" />
          <button class="btn btn-primary add-task">Adicionar</button>
        </div>
        <div class="tasks-list"></div>
      </main>
    </div>

    <footer class="footer">
      <span>Desenvolvido por Gilson Terra com</span> <img alt="backbone logo" height="20px" src="src/img/backbone.png"/>
    </footer>

    <script type="text/template" class="tasks-list-template">
      <div class="card">
        <span class="label-title"><%= title %></span>
        <div class="label-description"><%= description %></div>
        <div class="actions">
          <button class="btn btn-warning edit-task">Alterar</button> 
          <button class="btn btn-danger delete-task">Remover</button>
          <button class="btn btn-success update-task" style="display:none">Atualizar</button> 
          <button class="btn btn-danger cancel" style="display:none">Cancel</button>
        </div>
      </div>
    </script>

    <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.13.6/underscore-min.js" integrity="sha512-2V49R8ndaagCOnwmj8QnbT1Gz/rie17UouD9Re5WxbzRVUGoftCu5IuqqtAM9+UC3fwfHCSJR1hkzNQh/2wdtg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.4.1/backbone-min.js" integrity="sha512-TztyCWDNoN0YKl30gDCMKsiWs35juID+W7ZM2uvPeLLmiNvZg789SglgB/QeUbewqIF2Z4mVq3PyIEa+YXXADQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="dist/bundle.min.js"></script>
  </body>
</html>
